* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.board {
  display: grid;
  height: 600px;
  width: 600px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 20px;
  background-color: rgb(33, 174, 255);
  border-radius: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
}

.cellBtn {
  color: white;
  background-color: rgb(252, 155, 65);
  border-radius: 100px;
  width: 70px;
  height: 70px;
  font-size: 2rem;
}

/* dialog */
dialog {
  padding: 40px;
  border-radius: 8px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 12px 8px rgb(0, 0, 0);
}

dialog h1 {
  margin-bottom: 16px;
  font-size: 2.5rem;
}

dialog p {
  margin-bottom: 32px;
}

dialog input {
  margin-bottom: 30px;
  font-size: 16px;
  padding: 8px;
}

dialog label {
  display: block;
  font-size: 24px;
}

dialog button {
  font-size: 1.7rem;
  background-color: rgb(0, 183, 255);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 4px 2px rgb(0, 0, 0);
}

/* game container */
.game-container {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-container h1 {
  margin-bottom: 40px;
  font-size: 2.2rem;
}

.game-container #restartGame {
  font-size: 1.7rem;
  background-color: rgb(0, 183, 255);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 4px 2px rgb(0, 0, 0);
}
