* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.board {
  display: grid;
  height: 600px;
  width: 600px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 20px;
  background-color: rgb(33, 174, 255);
  border-radius: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
}

.cellBtn {
  color: white;
  background-color: rgb(252, 155, 65);
  border-radius: 100px;
  width: 80px;
  height: 80px;
  font-size: 2rem;
}

/* dialog */
dialog {
  padding: 20px;
  border-radius: 8px;
}

.game-container {
  /* display: none; */
}
